/* GENERAL */
*{
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
}

body{
  background-color: white;
}

ul{
  list-style: none;
}

a{
  color: black;
  text-decoration: none;
}

button{
  outline: none;
  cursor:pointer;
}

.bleu{
  color:#0065FC;
}

.fondBleu{
  background-color: #0065FC;
}

/*-- header | Réservia, Hébergement, Activité, S'insrire */
header img{
  width:90px;
}

#header-hebergement:focus {
  color:#0065FC;
}

#header-activite:focus {
  color:#0065FC;
}
#header-inscription{
  font-weight: bold;
}
/*-- main-recherche | Menu de recheche, les filtres et le label d'information (+500) */
#main-recherche h1{
  font-size: 20px;
  font-weight:bold;
}

#main-recherche h2{
  font-size: 16px;
  font-weight:lighter;
  margin-top: 10px;
}

#main-divSearch{
  display:flex;
  width: 418px;
  line-height: 20px;
  padding-top: 20px;
}

#main-boxIconeSearch{
  display: flex;
  align-items:center;
  width: 50px;
  height: 52px;
  background:#F2F2F2;
  border-radius: 10px 0 0 10px;
}

#main-boxIconeSearch i{
  margin-left:17px;
}

#main-txtSearch{
  font-size: 17px;
  font-weight:bold;
  width: 200px;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-right: none;
  border-color: #F2F2F2;
  padding-left: 15px;
  padding-right: 15px;
}

#main-txtSearch:focus-within{
outline: none;
}

/*@@ MEDIA QUERY | Desktop & Tablet*/
@media screen and (min-width: 426px) and (max-width: 2560px){
  .wrapper{
    margin: 46px 30px 0px 55px;
  }
  
  /*-- header | Réservia, Hébergement, Activité, S'insrire */
  header ul{
    display: flex;
    height: 35px;
  }
  
  header li:nth-child(2){
    margin-left: auto;
  }
  
  #header-hebergement:focus {
    border-top: 2px solid #0065FC;
  }
  
  #header-activite:focus {
    border-top: 2px solid #0065FC;
  }
  
  #header-hebergement {
    padding-top: 44px;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  #header-activite {
    padding-top: 44px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  #header-inscription{
    margin-left: 18px;
    margin-right: 48px;
  }

/*-- main-recherche | Menu de recheche, les filtres et le label d'information (+500) */
  #main-btnSearch{
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bold;
    color:white;
    border-radius: 0 10px 10px 0px;
    border: none;
    width: 136px;
    height: 52px;
  }

  #main-btnSearch-sm{
    display:none;
  }
}

/*@@ MEDIA QUERY | Phone */
@media screen and (max-width: 425px){
  /*-- header | Réservia, Hébergement, Activité, S'insrire */
  header .wrapper{
    width: 425px;
    margin: 16px 0px 0px 0px;
  }

  header img{
    margin-left:20px;
  }

  header ul{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    height: 110px;
    margin-bottom: 0px;
  }

  header li:nth-child(3) {
    order: 4;
  }

  header li:nth-child(2) {
    order: 3;
  }

  #header-inscription {
    margin-top: 200px;
    margin-left:175px;
  }
  
  #header-hebergement:focus {
    border-bottom: 3px solid #0065FC;
  }
  
  #header-activite:focus {
    border-bottom: 3px solid #0065FC;
  }
  
  #header-hebergement {
    padding-bottom: 10px;
    padding-left:37px;
    padding-right:37px;
  } 
  
  #header-activite {
    padding-bottom: 10px;
    padding-left: 63px;
    padding-right: 63px;
  }

  /*-- main-recherche | Menu de recheche, les filtres et le label d'information (+500) */
  main .wrapper{
    width: 332px;
    margin: 40px 20px 0px 20px;
  }

  #main-recherche h1{
    font-size: 23px;
  }

  #main-divSearch{
    padding-top: 35px;
  }

  #main-btnSearch{
    display:none;
  }

  #main-btnSearch-sm{
    color:white;
    border-radius: 35%;
    border: none;
    width: 50px;
    height: 50px;
  }
}
