/************************************** GENERAL *********/
*{
  margin:0px;
  padding:0px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
body{
  background-color: rgb(71, 69, 69);
}

ul{
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
}
button{
  outline: none;
  cursor:pointer;
}

span{
  white-space:pre;
}

.blue{
  color:#0065FC;
}
.bgBlue{
  background-color: #0065FC;
}
.bgBlueLight{
  background-color: #DEEBFF;
}
.bgGreyLight{
  background-color: #e6e5e5;
}
.bdGreyLight{
  border-color: #e6e5e5;
}
/************************************** HEADER *********/
/*-- header | WRAPPER */
header .wrapper{
  margin: 42px 0px 0px 50px;
  width:auto;
  background-color: rgb(94, 107, 68);
}
header #divContainer{
  display: flex;
}

/*-- header | RESERVIA */
header #divContainer #divReservia{
  margin-right: auto;
  background-color: darkgray;
}
header #divReservia img{
  width:90px;
  padding-right: 50px;
}

/*-- header | NAVIGATION */
header #divContainer nav{
  background-color: darkkhaki;
}
header #divContainer nav ul{
  display: flex;
}
/*-- header | NAVIGATION - Hebergement */
header #divContainer nav ul li #hebergement {
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
}
header #divContainer nav ul li #hebergement:focus {
  color:#0065FC;
  border-top: 2px solid #0065FC;
}
/*-- header | NAVIGATION - Activite */
header #divContainer nav ul li #activite {
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
}
header #divContainer nav ul li #activite:focus {
  color:#0065FC;
  border-top: 2px solid #0065FC;
}

/*-- header | INSCRIPTION */
header #divContainer #divInscription #inscription{
  display:inline-block;
  width: 120px;
  text-align: center;
  font-weight: bold;
  margin-right: 50px;
  background-color: darkseagreen;
}

/************************************** MAIN *********/
/*-- main | WRAPPER */
main .wrapper{
  margin: 42px 50px 0px 50px;
  width:auto;
  min-width: 584px;
  overflow-wrap: break-word;
  background-color: rgb(94, 107, 68);
}

/*-- main-recherche | TITRE*/
#main-recherche h1{
  font-size: 20px;
  font-weight:bold;
  background-color: rgb(231, 192, 93);
}
#main-recherche h2{
  font-size: 16px;
  font-weight:lighter;
  margin-top: 10px;
  background-color: rgb(231, 192, 93);
}

/*-- main-recherche | RECHERCHE */
#main-recherche #divSearch{
  display:flex;
  margin-top: 20px;
}
#main-recherche #icoMap{
  display: flex;
  align-items:center;
  width: 50px;
  height: 52px;
  border-radius: 15px 0 0 15px;
}
#main-recherche #icoMap i{
  font-size: 18px;
  margin-left:17px;
}
#main-recherche #txtSearch{
  font-weight:bold;
  width: 60%;
  max-width: 200px;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-right: none;
  padding-left: 15px;
  padding-right: 15px;
}
#main-recherche #txtSearch:focus-within{
outline: none;
}
#main-recherche #btnSearch:hover{
  border: 2px solid white;
  background-color: #0065FC;
  color:black;
}
#main-recherche #btnSearch{
  letter-spacing: 1.25px;
  font-weight: bold;
  color:white;
  border-radius: 0 15px 15px 0px;
  border: none;
  width: 136px;
  height: 52px;
}
#main-recherche #btnSearch-sm{
  display:none;
}

/*-- main-recherche | FILTRE */
#main-recherche #divFilter{
  display:flex;
  margin-top: 30px;
  background-color: lightcoral;
}
#main-recherche #divFilter #lblFilter{
  font-weight: bold;
  margin-right: 25px;
  padding-top: 15px;
}
#main-recherche #divFilter li:hover{
  background-color:#0065FC;
  color:white;
}
#main-recherche #divFilter li {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid #e6e5e5;
  border-radius: 35px;
  margin-right:32px;
  margin-bottom:10px;
  padding-left: 58px;
  padding-right: 22px;
  font-weight: bold;
  height: 45px;
  background-color: rgb(181, 235, 101);
  position: relative;
}
#main-recherche #divFilter li .filter-icon {
  height:45px;
  width:45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color:#DEEBFF;
  margin-right: 10px;
  border:2px solid #DEEBFF;
  position:absolute;
  left:-1px;
}

/*-- main-recherche | INFO*/
#main-recherche #divInfo{
  margin-top: 35px;
  background-color: mediumspringgreen;
}
#main-recherche #divInfo .info{
  display: flex;
}
#main-recherche #divInfo .icoInfo{
  width: 23px;
  height: 23px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  border-radius: 50%;
}
#main-recherche #divInfo .icoInfo i{
  font-size:small;
  margin-left: 9px;
  margin-right: 9px;
}
#main-recherche #divInfo span{
  white-space: normal;
  margin-left:12px;
}

/*-- main-hebergement | HEBERGEMENT*/
#main-hebergement #divMainContainer{
  display: flex;
}
#main-hebergement .sectionContainer{
  background-color:#aeaeb4;
  border:3px solid #717172;
  border-radius: 8px;
  padding: 10px 10px;
}
#main-hebergement .element{
  color:white;
  background-color:#7971ea;
  border:3px solid #443ea0;
  border-radius: 8px;
  padding: 10px 10px;
  font-size: 1.5em;
  text-align: center;
}
#main-hebergement .row{
  display: flex;
}
#main-hebergement .grow-6{
  flex-grow:6;
}
#main-hebergement .grow-12{
  flex-grow:12;
}
#main-hebergement .grow-4{
  flex-grow:4;
}
#main-hebergement{
  margin-top:50px;
}
#main-hebergement #divHebergement{
  margin-right: 5%;
}

/*-- main-activite | ACTIVITE */
#main-activite #divMainContainer{
  display:flex;
  background-color: yellowgreen;
}
#main-activite .sectionContainer{
  background-color:#aeaeb4;
  border:3px solid #717172;
  border-radius: 8px;
  padding: 10px 10px;
}
#main-activite .element{
  color:white;
  background-color:#7971ea;
  border:3px solid #443ea0;
  border-radius: 8px;
  padding: 10px 10px;
  font-size: 1.5em;
  text-align: center;
}
#main-activite .row{
  display: flex;
}
#main-activite .grow-3{
  flex-grow: 3;
}
#main-activite .grow-12{
  flex-grow: 12;
}

/************************************** FOOTER *********/
/*-- footer | WRAPPER */
footer{
  background-color: rgb(132, 139, 139);
}
footer .wrapper{
  width: auto;
  min-width: 684px;
  background-color: rgb(132, 139, 139);
  margin: 40px 50px 0px 50px;
  padding-top: 40px;
}
footer #divMainContainer{
  display:flex;
  background-color: yellowgreen;
}
footer .sectionContainer{
  background-color:#aeaeb4;
  border:3px solid #717172;
  border-radius: 8px;
  padding: 10px 10px;
}
footer .element{
  color:white;
  background-color:#7971ea;
  border:3px solid #443ea0;
  border-radius: 8px;
  padding: 10px 10px;
  font-size: 1.5em;
  text-align: center;
}
footer .row{
  display: flex;
}
footer .grow-4{
  flex-grow: 3;
}
footer .grow-12{
  flex-grow: 12;
}

/* @MEDIA QUERY | Tablet */
@media all and (min-width: 426px) and (max-width: 768px){
  body{
    background-color: rgb(214, 163, 33);
  }
  /*-- main-recherche | FILTRE */
  #main-recherche #divFilter li {
    margin-right:33px;
  }
}

/* @MEDIA QUERY | Phone */
@media all and (max-width: 425px){
  /************************************** HEADER *********/
  /*-- header | WRAPPER */
  header .wrapper{
    width:auto;
    margin: 15px 0px 0px 0px;
    min-width: 320px;
  }
  header #divContainer{
    flex-wrap:wrap;
    align-items: center;
    height: 125px;
  }

  /*-- header | RESERVIA */
  header #divContainer #divReservia img{
    margin-left:20px;
  }

  /*-- header | NAVIGATION */
  header #divContainer nav{
    width: 100%;
    order:3;
  }
  header #divContainer nav ul li {
    text-align: center;
    width: 50%;
  }
  header #divContainer nav ul li #hebergement,
  header #divContainer nav ul li #activite {
    display: inline-block;
    width: 100%;
    padding: 0px 0px 10px 0px;
  }
  header #divContainer nav ul li #hebergement:focus, 
  header #divContainer nav ul li #activite:focus {
    border-top: none;
    border-bottom: 3px solid #0065FC;
  }

  /*-- header | INSCRIPTION */
  header #divContainer #divInscription{
    order:2;
    background-color: darkgoldenrod;
  }
  header #divContainer #divInscription #inscription {
    margin-right: 0px;
  }
  /************************************** MAIN *********/
  /*-- main | WRAPPER */
  main .wrapper{
    margin: 0px 20px 0px 20px;
    width: auto;
    min-width: 280px;
    background-color: darkslategray;
  }

  /*-- main-recherche | TITRE*/
  #main-recherche h1{
    letter-spacing: 1.05px;
    background-color: dimgray;
  }
  #main-recherche h2{
    background-color: dimgray;
  }

  /*-- main-recherche | RECHERCHE*/
  #main-recherche #divSearch{
    margin-top: 40px;
  }
  #main-recherche #btnSearch{
    display:none;
  }
  #main-recherche #btnSearch-sm:hover{
    border: 2px solid white;
    background-color: #0065FC;
    color:black;
  }
  #main-recherche #btnSearch-sm{
    display: inline;
    color:white;
    border-radius: 35%;
    border: none;
    width: 50px;
    height: 50px;
  }

  #main-recherche #btnSearch-sm i{
    font-size: 16px;
  }

  /*-- main-recherche | FILTRE */
  #main-recherche #divFilter{
    display:inline-block;
  }
  #main-recherche #divFilter #lblFilter{
    display: inline-block;
    margin-bottom: 20px;
  }
  #main-recherche #divFilter li{
    margin-right:5px;
  }

  /*-- main-recherche | INFO*/
  #main-recherche #divInfo{
    margin-top: 35px;
    background-color: rgb(0, 79, 250);
  }

  /*-- main-hebergement | HEBERGEMENT*/
  #main-hebergement #divHebergement{
    margin-right: 0px;
  }
  #main-hebergement .row{
    flex-wrap: wrap;
  }
  #main-hebergement #divMainContainer{
    flex-wrap: wrap-reverse;
  }

  /*-- main-activite | ACTIVITE*/
  #main-activite #divMainContainer{
    flex-wrap: wrap;
  }
  #main-activite .row{
    flex-wrap: wrap;
  }

  /************************************** FOOTER *********/
  /*-- footer | WRAPPER */
  footer .wrapper{
    width: auto;
    min-width: 320px;
    margin: 40px 20px 0px 20px;
    background-color: rgb(132, 139, 139);
  }

  footer #divMainContainer{
    flex-wrap: wrap;
  }
  footer .row{
    flex-wrap: wrap;
  }
}

