*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;

}

/* menu Hebergement / Activite ------------*/
ul li{
color:#0065FC;
font-family: 'Raleway', sans-serif;
}

#reservia{
  width:100px;
}

#inscription{
  width:100px;
  font-weight: bold;
}

.liste-nav{
  background-color: rgb(255, 255, 255);
  
  /*center le menu*/
  display: flex;
  justify-content: center;

  /*on retire les puces*/
  list-style-type: none;
  
   /*center le menu verticalement*/
  height: 70px;
  align-items: center;
}

.item-nav{
  /*On augmente la police*/
  font-size: 25px;

  /*On ajoute des marges*/
  margin: 0 10px;
}
/* menu Hebergement / Activite ------------ END*/

/* Desktop entre 2560 et 769 */
@media screen and (min-width: 769px) and (max-width: 2560px){

/* menu Hebergement / Activite ------------*/
  li a {
    text-decoration: none;
    color:#0065FC;
    font-family: 'Raleway', sans-serif;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    border-top: 3px solid transparent;
  }
  
    li a:hover {
      border-top: 3px solid #0065FC;
    }

  /*On ajoute une marge à gauche (décale à droite les 3 items)*/
  .item-nav:nth-child(2) {
    margin-left: auto;
    border-top: 3px, solid;
  }

  .item-nav:nth-child(3) {
    margin-left: 40px;
    margin-right: 40px;
  }

  .item-nav:nth-child(4) {
    margin-right: 40px;
  }
/* menu Hebergement / Activite ------------ END*/
}

/* Tablet entre 768 et 426 */
@media screen and (min-width: 426px) and (max-width: 768px){

  /* menu Hebergement / Activite ------------*/
  li a {
    text-decoration: none;
    color:#0065FC;
    font-family: 'Raleway', sans-serif;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    border-top: 3px solid transparent;
  }

  li a:hover {
    border-top: 3px solid #0065FC;
  }
  /* menu Hebergement / Activite ------------ END*/
}

/* Phone entre 425 et 0 */
@media screen and (min-width: 0px) and (max-width: 425px){

  /* menu Hebergement / Activite ------------*/
  .liste-nav{
    display:flex;
    flex-wrap: wrap;
    min-width:320px;
  }

  .item-nav:nth-child(1) {
    order: 1;
  }
  .item-nav:nth-child(2) {
    order: 3;
  }
  .item-nav:nth-child(3) {
    order: 4;
  }
  .item-nav:nth-child(4) {
    order: 2;
  }

  li a {
    text-decoration: none;
    color:#0065FC;
    font-family: 'Raleway', sans-serif;
    border-bottom: 3px solid transparent;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 15px;
  } 

  li a:hover {
    border-bottom: 3px solid #0065FC;
  }
  /* menu Hebergement / Activite ------------ END*/

}